In [1]:
import pandas as pd

In [2]:
cb = pd.read_csv("../Datasets/investments_VC.csv")

Importing pandas and reading our file.

In [3]:
cb.shape

(49438, 39)

Almost 50k instances with 39 attributes for each is hell lot of data.

In [4]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 39 columns):
permalink               49438 non-null object
name                    49437 non-null object
homepage_url            45989 non-null object
category_list           45477 non-null object
 market                 45470 non-null object
 funding_total_usd      49438 non-null object
status                  48124 non-null object
country_code            44165 non-null object
state_code              30161 non-null object
region                  44165 non-null object
city                    43322 non-null object
funding_rounds          49438 non-null int64
founded_at              38554 non-null object
founded_month           38482 non-null object
founded_quarter         38482 non-null object
founded_year            38482 non-null float64
first_funding_at        49438 non-null object
last_funding_at         49438 non-null object
seed                    49438 non-null int64
venture                 49438 non-null int64
equity_crowdfunding     49438 non-null int64
undisclosed             49438 non-null int64
convertible_note        49438 non-null int64
debt_financing          49438 non-null int64
angel                   49438 non-null int64
grant                   49438 non-null int64
private_equity          49438 non-null int64
post_ipo_equity         49438 non-null int64
post_ipo_debt           49438 non-null int64
secondary_market        49438 non-null int64
product_crowdfunding    49438 non-null int64
round_A                 49438 non-null int64
round_B                 49438 non-null int64
round_C                 49438 non-null int64
round_D                 49438 non-null int64
round_E                 49438 non-null int64
round_F                 49438 non-null int64
round_G                 49438 non-null int64
round_H                 49438 non-null int64
dtypes: float64(1), int64(22), object(16)
memory usage: 14.7+ MB

That's just a lot of attributes with their datatypes and number of non-null values too.

In [5]:
cb.describe()

,funding_rounds,founded_year,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,38482.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2007.359129,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,7.579203,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,1902.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,2006.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,2010.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2012.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,2014.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

All the attributes are filled except the founded_year.  
Also, year is supposed to be categorical rather than considered for numerical analysis.  
Let's change that up ...

In [6]:
cb['founded_year'] = cb['founded_year'].astype('category')

Series.astype changes the datatype of all the elements in the series to the specified datatype.

In [7]:
cb.describe()

,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,2.074286e+06,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,3.167231e+07,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,3.500000e+09,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

Looks like most of our attributes just have zeroes because only the max row has a value with min, 25%, 50% and 75% all zeroes.

This dataset needs a linear approach rather than looking at all the values as one.

# Linear approach

## permalink

In [8]:
cb.permalink.sample(10)

45211         /organization/urban-consign-design
16509             /organization/gamerizon-studio
4798                 /organization/benefex-group
42076                   /organization/tastytrade
41724                      /organization/tadcast
47359    /organization/west-lakes-surgery-center
4424                /organization/barcol-air-usa
11892                       /organization/distil
19568                       /organization/hylete
2046               /organization/alphacityguides
Name: permalink, dtype: object

That's just random strings but starting with /organization/...  
Let's remove that.

In [9]:
def permalink_rename(x):
    return x[14:]
cb.permalink = cb.permalink.apply(permalink_rename)

Removing the organization in every str.

In [10]:
cb.permalink.value_counts().head()

treasure-valley-urology-services    2
prysm                               2
guides-co                           1
avrupa-minerals                     1
alfresco                            1
Name: permalink, dtype: int64

These strings look like names of the services.  
Let's just rename this attribute as organization.

In [28]:
cb = cb.rename(columns = {'permalink':'Organization'})

In [29]:
cb.head()

,Organization,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0,0,0,0,0,0,0,0,0,0
1,tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0,0,0,0,0,0,0,0,0,0
2,rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0,0,0,0,0,0,0,0,0,0
3,in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0,0,0,0,0,0,0,0,0,0
4,r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0,0,0,0,0,0,0,0,0,0

Now that that's done, let's look for null values.

In [30]:
cb.Organization.isna().sum()

0

We seem clear on that line.  
Also, if we observe clearly at the head, the name attribute is far too similar to the current attribute.
## name

In [69]:
def compare(a,b,s):
    org = str(a).lower().split(s)
    li = []
    for i in org:
        if i not in str(b).lower():
            li.append(False)
        else:
            li.append(True)
    return all(li)
def cmp(x):
    if ((compare(x[0],x[1],'-'))or(compare(x[1],x[0],' '))):
        return x[0]
    else:
        return [x[0],x[1]]
cb.Organization = cb[['Organization','name']].apply(cmp, axis = 1)

They seem very similar to the previous one at most cases but only to a certain extent of 86%.  
Which is enough to get rid of one of the attributes but keeping in a list with the remaining stuff rather than getting rid of a few names.  
We're going to delete the name attribute as it has a single null value which is more than none in Organization.

In [72]:
del cb['name']
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0

Now that that's done, let's look at our next bait - the url.
## homepage_url

In [78]:
cb.homepage_url.isna().sum()

3449

Even though there's a good amount of null values here, there is no reason to delete this attribute because it's just the url of the homepages of the organizations.  
Let's just keep it and move on to the next attribute.

In [79]:
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0