In [1]:
import pandas as pd

In [2]:
cb = pd.read_csv("../Datasets/investments_VC.csv")

Importing pandas and reading our file.

In [3]:
cb.shape

(49438, 39)

Almost 50k instances with 39 attributes for each is hell lot of data.

In [4]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4    market               45470 non-null  object
 5    funding_total_usd    49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  int64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  int64
 19  venture               49438 non-null  int64
 20  equity_crowdfunding   49438 non-null  int64
 21  undisclosed           49438 non-null  int64
 22  convertible_note      49438 non-null  int64
 23  debt_financing        49438 non-null  int64
 24  angel                 49438 non-null  int64
 25  grant                 49438 non-null  int64
 26  private_equity        49438 non-null  int64
 27  post_ipo_equity       49438 non-null  int64
 28  post_ipo_debt         49438 non-null  int64
 29  secondary_market      49438 non-null  int64
 30  product_crowdfunding  49438 non-null  int64
 31  round_A               49438 non-null  int64
 32  round_B               49438 non-null  int64
 33  round_C               49438 non-null  int64
 34  round_D               49438 non-null  int64
 35  round_E               49438 non-null  int64
 36  round_F               49438 non-null  int64
 37  round_G               49438 non-null  int64
 38  round_H               49438 non-null  int64
dtypes: float64(1), int64(22), object(16)
memory usage: 14.7+ MB

That's just a lot of attributes with their datatypes and number of non-null values too.

In [5]:
cb.describe()

,funding_rounds,founded_year,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,38482.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2007.359129,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,7.579203,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,1902.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,2006.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,2010.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2012.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,2014.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

All the attributes are filled except the founded_year.  
Also, year is supposed to be categorical rather than considered for numerical analysis.  
Let's change that up ...

In [6]:
cb['founded_year'] = cb['founded_year'].astype('category')

Series.astype changes the datatype of all the elements in the series to the specified datatype.

In [7]:
cb.describe()

,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,2.074286e+06,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,3.167231e+07,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,3.500000e+09,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

Looks like most of our attributes just have zeroes because only the max row has a value with min, 25%, 50% and 75% all zeroes.

This dataset needs a linear approach rather than looking at all the values as one.

# Linear approach

## permalink

In [8]:
cb.permalink.sample(10)

30145         /organization/olive-medical-corporation
7938     /organization/channelsoft-beijing-technology
13403                   /organization/empire-robotics
45057                 /organization/universal-devices
35511                           /organization/rentish
13429                     /organization/emu-solutions
45730                        /organization/venueagent
30712                         /organization/optiwi-fi
22150                            /organization/jongla
15516                       /organization/flex-pharma
Name: permalink, dtype: object

That's just random strings but starting with /organization/...  
Let's remove that.

In [9]:
def permalink_rename(x):
    return x[14:]
cb.permalink = cb.permalink.apply(permalink_rename)

Removing the organization in every str.

In [10]:
cb.permalink.value_counts().head()

treasure-valley-urology-services    2
prysm                               2
bridgeco                            1
magnasense                          1
fieldbook                           1
Name: permalink, dtype: int64

These strings look like names of the services.  
Let's just rename this attribute as organization.

In [11]:
cb = cb.rename(columns = {'permalink':'Organization'})

In [12]:
cb.head()

,Organization,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0,0,0,0,0,0,0,0,0,0
1,tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0,0,0,0,0,0,0,0,0,0
2,rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0,0,0,0,0,0,0,0,0,0
3,in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0,0,0,0,0,0,0,0,0,0
4,r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0,0,0,0,0,0,0,0,0,0

Now that that's done, let's look for null values.

In [13]:
cb.Organization.isna().sum()

0

We seem clear on that line.  
Also, if we observe clearly at the head, the name attribute is far too similar to the current attribute.
## name

In [14]:
def compare(a,b,s):
    org = str(a).lower().split(s)
    li = []
    for i in org:
        if i not in str(b).lower():
            li.append(False)
        else:
            li.append(True)
    return all(li)
def cmp(x):
    if ((compare(x[0],x[1],'-'))or(compare(x[1],x[0],' '))):
        return True
    else:
        return False
cb[['Organization','name']].apply(cmp, axis = 1).value_counts()

True     48069
False     1369
dtype: int64

We have 2.7% of our data fighting against deleting one of the attribute from Organization and name.  
It's quite low but still there's enough diversity between the False returning strings.  
So, let's do both the things i.e. delete name and keep a list of non-similar data points.

In [15]:
def compare(a,b,s):
    org = str(a).lower().split(s)
    li = []
    for i in org:
        if i not in str(b).lower():
            li.append(False)
        else:
            li.append(True)
    return all(li)
def cmp1(x):
    if ((compare(x[0],x[1],'-'))or(compare(x[1],x[0],' '))):
        return x[0]
    else:
        return [x[0],x[1]]
cb['Organization'] = cb[['Organization','name']].apply(cmp1, axis = 1)

Both the attributes are similar to a certain extent as determined previously.  
Which is enough to get rid of one of the attributes but still I'm keeping in a list with the remaining stuff rather than getting rid of a few names.  
We're going to delete the name attribute as it has many special characters compared to the well organized Organization attribute. Also, there's a single null value here too.

In [16]:
del cb['name']
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0

Now that that's done, let's look at our next bait - the url.
## homepage_url

In [17]:
cb.homepage_url.isna().sum()

3449

Even though there's a good amount of null values here, there is no reason to delete this attribute because it's just the url of the homepages of the organizations.  
Let's just fill the null values with None.

In [18]:
cb['homepage_url'] = cb.homepage_url.fillna('None')

In [19]:
cb.homepage_url.value_counts().head(3)

None                           3449
http://www.grouply.com            2
http://www.ubiquitycorp.com       2
Name: homepage_url, dtype: int64

So, now that all the null values are filled with string 'None', Let's move on to the next attribute.

In [20]:
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0

As we can see, our next attribute category_list is the same as market but with few more items in there.  
Let's check that up.  
## category_list and market

In [21]:
print(cb[['category_list', ' market ']].isna().sum())
def cmp2(x):
    if x.isna().sum() == 2:
        return 'Both are null'
    elif x.isna().sum() == 1:
        return 'Only one is null'
    else:
        if str(x[1]).strip() in str(x[0]):
            return True
        else:
            return False

cb[['category_list', ' market ']].apply(cmp2, axis = 1).value_counts()

category_list    3961
 market          3968
dtype: int64

True                45470
Both are null        3961
Only one is null        7
dtype: int64

There are 3961 null values common to both the attributes leaving which market has extra 7 null values.  
Let's fill the common null values as None and the extra 7 ones already have something in category_list which shall remain as is.  
True means that the str in market is present in category_list which is returned in all cases excluding the null values  means everything in market is present in category_list.

In [22]:
def return_list(x):
    category_list = str(x[0]).strip('|').split('|')
    market = str(x[1]).strip()
    if x.isna().sum() == 1:
        return category_list
    elif x.isna().sum() == 2:
        return None
    else:
        category_list.remove(market)
        category_list.insert(0, market)
        return category_list
cb['category_list'] = cb[['category_list', ' market ']].apply(return_list, axis = 1)

So, let's just make it an actual list but with the leading element as the one in market attribute if its present.  
In the 7 cases where the market element is absent, we're keeping the element as is after stripping and splitting(in case there are more than 1).  
There are 3961 cases where we have both null values which we're filling with None.  
Let's have a final check whether the elements in market are perfectly placed at the start of the category_list.

In [23]:
def cmp2(x):
    if x.isna().sum() == 2:
        return 'Both are null'
    elif x.isna().sum() == 1:
        return 'Only one is null'
    else:
        if str(x[1]).strip() == x[0][0]:
            return True
        else:
            return False

cb[['category_list', ' market ']].apply(cmp2, axis = 1).value_counts()

True                45470
Both are null        3961
Only one is null        7
dtype: int64

Now that that's checked, we're good to delete market attribute.

In [24]:
del cb[' market ']

In [25]:
cb.sample(5)

,Organization,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
21212,intivix,http://www.intivix.com,"[Networking, Security, Information Services, C...","2,00,000",operating,USA,CA,SF Bay Area,San Francisco,1,...,0,0,0,0,0,0,0,0,0,0
47278,welcu,http://welcu.com/en,[Social Media],-,operating,CHL,NaN,Santiago,Santiago,2,...,0,0,0,0,0,0,0,0,0,0
12931,edgewave-inc,http://www.edgewave.com,[Software],"1,94,45,695",operating,USA,CA,San Diego,San Diego,5,...,0,0,6000000,0,0,0,0,0,0,0
33968,pts-consulting,http://ptsconsulting.com,[Consulting],"1,31,82,687",operating,GBR,NaN,London,London,1,...,0,0,0,0,0,0,0,0,0,0
38941,smart-energy,http://smart-energy.com,[Clean Technology],"6,25,100",operating,USA,MN,Minneapolis,Excelsior,2,...,0,0,0,0,0,0,0,0,0,0

Market's successfully deleted.
## funding_total_usd

In [26]:
def change_int(x):
    if x.strip() == '-':
        return 0
    x = x.replace(',','')
    return int(x)
cb[' funding_total_usd '] = cb[' funding_total_usd '].apply(change_int)

In [27]:
cb[' funding_total_usd '].dtypes

dtype('int64')

Now that we've changed up the attribute to int successfully, let's change its name because its quite sketchy.

In [28]:
cb = cb.rename(columns = {' funding_total_usd ' : 'Funding($)'})

Now that we've renamed that, we can move on to our next attribute.
## status

In [29]:
cb['status'].value_counts()

operating    41829
acquired      3692
closed        2603
Name: status, dtype: int64

This clearly looks like an attribute of the dtype : 'category'.

In [30]:
cb['status'] = cb['status'].astype('category')
cb['status'].dtypes

CategoricalDtype(categories=['acquired', 'closed', 'operating'], ordered=False)

That looks awesome as our categories are listed too.
# Location
The coming up 4 attributes are all related to the location of our organization.  
Let's put them in as one after resolving each of them linearly.
## country_code

In [31]:
cb['country_code'].isna().sum()

5273

That's a pretty good amount of null values there. Still there's no reason to delete the str attribute.  
So, let's just fill it with None.

In [32]:
cb['country_code'] = cb.country_code.fillna(value = 'None')
cb['country_code'].value_counts().head()

USA     28793
None     5273
GBR      2642
CAN      1405
CHN      1239
Name: country_code, dtype: int64

Country code is just an uppercase and probably three lettered word.

In [33]:
cb['country_code'].apply(len).value_counts()

3    44165
4     5273
Name: country_code, dtype: int64

It is three lettered.  
## state_code

In [34]:
cb['state_code'].isna().sum()

19277

That's too much more than the country_code. But as we're going to integrate all 4 attributes to 1, it stays.  
Let's do all that we did to country_code to state_code as well.

In [35]:
cb['state_code'] = cb.state_code.fillna(value = 'None')
cb['state_code'].value_counts().head()

None    19277
CA       9917
NY       2914
MA       1969
TX       1466
Name: state_code, dtype: int64

That's similar too.

In [36]:
cb['state_code'].apply(len).value_counts()

2    30161
4    19277
Name: state_code, dtype: int64

All these are 2 lettered words though.
## region

In [37]:
cb['region'].isna().sum()

5273

That's exactly same as the country_code.  
Which means both the attributes are similar.

In [38]:
cb['region'] = cb.region.fillna(value = 'None')
cb['region'].value_counts().head()

SF Bay Area      6804
None             5273
New York City    2577
Boston           1837
London           1588
Name: region, dtype: int64

Lengths obviously vary, so lets skip the last part here.  
Again we just find a proper str.
## city

In [39]:
cb['city'].isna().sum()

6116

There's no similarity with anything else here.

In [40]:
cb['city'] = cb.city.fillna(value = 'None')
cb['city'].value_counts().head()

None             6116
San Francisco    2615
New York         2334
London           1257
Palo Alto         597
Name: city, dtype: int64

Again lengths vary, so we skip the last part and move on to integrate the 4 attributes.
## Location

In [41]:
def location(x):
    return x.tolist()
Location = cb[['country_code','state_code','region','city']].apply(location, axis = 1)

In [42]:
cb.insert(5,'Location',Location)
cb['Location'].sample(4)

27154    [USA, CA, SF Bay Area, San Francisco]
5606        [USA, NY, New York City, New York]
38982        [IND, None, Bangalore, Bangalore]
38925       [USA, NY, New York City, New York]
Name: Location, dtype: object

Now that we've got our new attribute, we can get rid of the four parent attributes.

In [43]:
cb = cb.drop(['country_code','state_code','region','city'], axis = 1)

In [44]:
cb.tail()

,Organization,homepage_url,category_list,Funding($),status,Location,funding_rounds,founded_at,founded_month,founded_quarter,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,"[Education, Analytics, Gamification, Developer...",320000,operating,"[GBR, None, London, London]",1,28-01-2013,2013-01,2013-Q1,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,[Enterprise Software],1587301,operating,"[CHN, None, Beijing, Beijing]",1,NaN,NaN,NaN,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,"[Web Development, Advertising, Wireless, Mobile]",97398,operating,"[HRV, None, Split, Split]",5,13-05-2012,2012-05,2012-Q2,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,[Games],9300000,operating,"[None, None, None, None]",1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,[Enterprise Software],45000000,operating,"[USA, NY, New York City, New York]",4,01-01-1999,1999-01,1999-Q1,...,0,0,16000000,10000000,0,0,0,0,0,0

## funding_rounds
Google says that Startup funding rounds are a series of investments that raise capital for a new business. As a startup expands and becomes successful, each funding round serves as a stepping stone toward greater growth.  
Which makes sense to convert the attribute to categorical again.  
Let's have a check whether its credible enough.

In [45]:
cb['funding_rounds'].value_counts(dropna = False)

1     32039
2      9219
3      4026
4      1997
5      1001
6       560
7       252
8       152
9        84
10       43
11       35
12       12
13        8
14        4
15        4
16        1
18        1
Name: funding_rounds, dtype: int64

Looks like we don't have null values which makes sense because if it did then it wouldn't make sense to have that data point at the first place.  
Also, we have 17 categories which is credible enough to convert this attribute to categorical datatype.

In [46]:
cb['funding_rounds'] = cb['funding_rounds'].astype('category')
cb['funding_rounds'].dtypes

CategoricalDtype(categories=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18], ordered=False)

Looks good.
## founded

In [47]:
cb[cb.columns[6:]].head()

,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,1,01-06-2012,2012-06,2012-Q2,2012.0,30-06-2012,30-06-2012,1750000,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,NaN,NaN,NaN,NaN,04-06-2010,23-09-2010,0,4000000,0,...,0,0,0,0,0,0,0,0,0,0
2,1,26-10-2012,2012-10,2012-Q4,2012.0,09-08-2012,09-08-2012,40000,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,01-04-2011,2011-04,2011-Q2,2011.0,01-04-2011,01-04-2011,1500000,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,01-01-2014,2014-01,2014-Q1,2014.0,17-08-2014,26-09-2014,0,0,60000,...,0,0,0,0,0,0,0,0,0,0

All three founded attributes look like they're derived from founded_at.

In [48]:
cb[cb.columns[7:11]].isna().sum()

founded_at         10884
founded_month      10956
founded_quarter    10956
founded_year       10956
dtype: int64

Null values also support the cause of removing the extra three founded attributes.  
Let's keep founded_quarter because it could help in certain aspects during analysis.

In [49]:
cb = cb.drop(['founded_month', 'founded_year'], axis = 1)

Now that we've removed the unwanted attributes, let's fine tune the remaining founded attributes.
## founded_at

In [50]:
from datetime import datetime

In [51]:
def date_check(y):
    li = y.split('-')
    if len(li[0]) == 4:
        Y = li[0]
        li[0] = li[2]
        li[2] = Y
    return li[0] +'-'+ li[1] +'-'+ li[2]
def change_date(x):
    if str(x).lower() == 'nan':
        return None
    else:
        x = date_check(x)
        return datetime.strptime(x,'%d-%m-%Y').date()
cb['founded_at'] = cb['founded_at'].apply(change_date)

In [52]:
type(cb['founded_at'][0])

datetime.date

Now that we've got that converted, let's look for anything in founded_quarter.
## founded_quarter

In [53]:
cb['founded_quarter'].sample(4)

42728    2011-Q1
36405    2009-Q4
2845     2002-Q1
44376    2013-Q4
Name: founded_quarter, dtype: object

All these values are just the year followed by quarter.  
quarter is just the 12 months divided into 4 quarters.  
It can stay as is.
## first and last funding

In [54]:
cb['first_funding_at'] = cb['first_funding_at'].apply(change_date)
cb['last_funding_at'] = cb['last_funding_at'].apply(change_date)

We're applying the same function written for founded_at for first and last funding as both are dates.  
And also we're not compressing these as they're needed in detail for analysis.

In [55]:
cb.dtypes

Organization              object
homepage_url              object
category_list             object
Funding($)                 int64
status                  category
Location                  object
funding_rounds          category
founded_at                object
founded_quarter           object
first_funding_at          object
last_funding_at           object
seed                       int64
venture                    int64
equity_crowdfunding        int64
undisclosed                int64
convertible_note           int64
debt_financing             int64
angel                      int64
grant                      int64
private_equity             int64
post_ipo_equity            int64
post_ipo_debt              int64
secondary_market           int64
product_crowdfunding       int64
round_A                    int64
round_B                    int64
round_C                    int64
round_D                    int64
round_E                    int64
round_F                    int64
round_G                    int64
round_H                    int64
dtype: object

As you can see, we're done with all objects and left with a few numerical data attributes.
## numerical data

In [56]:
cb[cb.columns[11:]].head()

,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,1750000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1500000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,60000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
cb[cb.columns[11:]].isna().sum()

seed                    0
venture                 0
equity_crowdfunding     0
undisclosed             0
convertible_note        0
debt_financing          0
angel                   0
grant                   0
private_equity          0
post_ipo_equity         0
post_ipo_debt           0
secondary_market        0
product_crowdfunding    0
round_A                 0
round_B                 0
round_C                 0
round_D                 0
round_E                 0
round_F                 0
round_G                 0
round_H                 0
dtype: int64

Good to know there're no null values but clearly we have a lot of zeroes here.

In [58]:
cb.shape[0] - cb[cb.columns[11:]].apply(lambda x : x==0).sum()

seed                    13840
venture                 23277
equity_crowdfunding       522
undisclosed               952
convertible_note          557
debt_financing           4225
angel                    3129
grant                    1142
private_equity           1373
post_ipo_equity           316
post_ipo_debt              75
secondary_market           19
product_crowdfunding      213
round_A                  9003
round_B                  5447
round_C                  2837
round_D                  1288
round_E                   516
round_F                   172
round_G                    34
round_H                     4
dtype: int64

So, we have these many non-zero attributes in our numerical data.  
But, some domain study is required as its unclear what these attributes pose us.  
So some googling on what these attributes mean is a must.  
# Domain study
## seed

In [59]:
cb[cb != 0].seed.describe()

count    1.384000e+04
mean     7.762963e+05
std      1.886019e+06
min      1.400000e+01
25%      6.500000e+04
50%      3.000000e+05
75%      1.000000e+06
max      1.300000e+08
Name: seed, dtype: float64

CrunchBase says, "Seed rounds are among the first rounds of funding a company will receive, generally while the company is young and working to gain traction. Round sizes range between $10k–$2M, though larger seed rounds have become more common in recent years. A seed round typically comes after an angel round (if applicable) and before a company’s Series A round."  
27% (i.e. 13480) of our companies have got off the ground easily.
## venture

In [60]:
cb[cb != 0].venture.describe()

count    2.327700e+04
mean     1.593147e+07
std      3.984178e+07
min      2.200000e+01
25%      1.569037e+06
50%      5.400000e+06
75%      1.600000e+07
max      2.351000e+09
Name: venture, dtype: float64

CrunchBase says, "Venture funding refers to an investment that comes from a venture capital firm and describes Series A, Series B, and later rounds. This funding type is used for any funding round that is clearly a venture round but where the series has not been specified."  
Basically investors investing in these companies beleiving they'll become huge successes reulting in handsome profits for these investors.  
47% (i.e. 23277) of our companies have been shown interest from investors.
## equity_crowdfunding

In [61]:
cb[cb != 0].equity_crowdfunding.describe()

count    5.220000e+02
mean     5.837209e+05
std      1.858536e+06
min      5.000000e+01
25%      1.864475e+04
50%      9.183100e+04
75%      3.974592e+05
max      2.500000e+07
Name: equity_crowdfunding, dtype: float64

CrunchBase says, "Equity crowdfunding platforms allow individual users to invest in companies in exchange for equity. Typically on these platforms the investors invest small amounts of money, though syndicates are formed to allow an individual to take a lead on evaluating an investment and pooling funding from a group of individual investors."  
People around the globe (or just crowd) buying shares of the company that is being started up.  
1% (i.e. 522) of our companies have their shares being bought through equity_crowdfunding.
## undisclosed

In [62]:
cb[cb != 0].undisclosed.describe()

count    9.520000e+02
mean     6.762479e+06
std      2.042494e+07
min      1.000000e+00
25%      2.619370e+05
50%      1.080012e+06
75%      5.075451e+06
max      2.924328e+08
Name: undisclosed, dtype: float64

Couldn't find what that means.  
Almost 2% (i.e. 952) non-zero values here.
## convertible_note

In [63]:
cb[cb != 0].convertible_note.describe()

count    5.570000e+02
mean     2.073742e+06
std      1.334482e+07
min      3.000000e+01
25%      1.350000e+05
50%      5.000000e+05
75%      1.500000e+06
max      3.000000e+08
Name: convertible_note, dtype: float64

CrunchBase says, "A convertible note is an ‘in-between’ round funding to help companies hold over until they want to raise their next round of funding. When they raise the next round, this note ‘converts’ with a discount at the price of the new round. You will typically see convertible notes after a company raises, for example, a Series A round but does not yet want to raise a Series B round."  
1% (i.e. 557) of our companies are funded in this way.
## debt_financing

In [64]:
cb[cb != 0].debt_financing.describe()

count    4.225000e+03
mean     2.209389e+07
std      4.723374e+08
min      1.000000e+02
25%      3.877940e+05
50%      1.400000e+06
75%      5.000000e+06
max      3.007950e+10
Name: debt_financing, dtype: float64

CrunchBase says, "In a debt round, an investor lends money to a company, and the company promises to repay the debt with added interest."  
Basically loans taken by the companies.  
8% (i.e. 4225) companies have taken loans.
## angel

In [65]:
cb[cb != 0].angel.describe()

count    3.129000e+03
mean     1.033616e+06
std      2.418230e+06
min      2.300000e+01
25%      2.000000e+05
50%      5.000000e+05
75%      1.000000e+06
max      6.359026e+07
Name: angel, dtype: float64

CrunchBase says, "An angel round is typically a small round designed to get a new company off the ground. Investors in an angel round include individual angel investors, angel investor groups, friends, and family."  
Again investor in return for shares or debt.  
6% (i.e. 3129) companies have angel investors.
## grant

In [66]:
cb[cb != 0].grant.describe()

count    1.142000e+03
mean     7.049689e+06
std      3.627725e+07
min      3.000000e+02
25%      8.564225e+04
50%      5.000000e+05
75%      3.000000e+06
max      7.505000e+08
Name: grant, dtype: float64

CrunchBase says, "A grant is when a company, investor, or government agency provides capital to a company without taking an equity stake in the company."  
These are non-returnable sums of money.  
2% (i.e. 1142) companies have benefited from grants.
## private_equity

In [67]:
137300/cb.shape[0]

2.777215906792346

In [68]:
cb[cb != 0].private_equity.describe()

count    1.373000e+03
mean     7.468939e+07
std      1.752662e+08
min      6.000000e+01
25%      4.500000e+06
50%      1.800000e+07
75%      8.500000e+07
max      3.500000e+09
Name: private_equity, dtype: float64

CrunchBase says, "A private equity round is led by a private equity firm or a hedge fund and is a late stage round. It is a less risky investment because the company is more firmly established, and the rounds are typically upwards of $50M."
## post_ipo_equity, post_ipo_debt

In [69]:
cb[cb != 0][['post_ipo_equity', 'post_ipo_debt']].describe()

       post_ipo_equity  post_ipo_debt
count     3.160000e+02   7.500000e+01
mean      9.525790e+07   2.923012e+08
std       3.217748e+08   8.358664e+08
min       1.050000e+04   9.075000e+04
25%       6.000000e+06   1.000000e+07
50%       2.000000e+07   3.000000e+07
75%       6.640000e+07   1.500000e+08
max       4.700000e+09   5.800000e+09

"Post-IPO" refers to the period after a company's initial public offering of stock, which is its debut in the equity financial markets.  
Post-IPO Equity: A post-IPO equity round takes place when firms invest in a company after the company has already gone public.  
Post-IPO Debt: A post-IPO debt round takes place when firms loan a company money after the company has already gone public.  
Similar to debt financing, a company will promise to repay the principal as well as added interest on the debt.
## secondary_market

In [70]:
cb[cb != 0].secondary_market.describe()

count    1.900000e+01
mean     1.000623e+08
std      1.745042e+08
min      1.569290e+05
25%      5.446198e+06
50%      1.930000e+07
75%      1.027502e+08
max      6.806116e+08
Name: secondary_market, dtype: float64

CrunchBase says, "A secondary market transaction is a fundraising event in which one investor purchases shares of stock in a company from other, existing shareholders rather than from the company directly. These transactions often occur when a private company becomes highly valuable and early stage investors or employees want to earn a profit on their investment, and these transactions are rarely announced or publicized."
## product_crowdfunding

In [71]:
cb[cb != 0].product_crowdfunding.describe()

count    2.130000e+02
mean     1.641951e+06
std      6.329573e+06
min      2.150000e+02
25%      1.047910e+05
50%      3.214710e+05
75%      1.229074e+06
max      7.200000e+07
Name: product_crowdfunding, dtype: float64

CrunchBase says, "In a product crowdfunding round, a company will provide its product, which is often still in development, in exchange for capital. This kind of round is also typically completed on a funding platform."  
## The 8 Rounds

Google says, "Startup funding rounds are a series of investments that raise capital for a new business. As a startup expands and becomes successful, each funding round serves as a stepping stone toward greater growth."

In [72]:
cb[cb != 0][cb.columns[-8:]].describe()

,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,9.003000e+03,5.447000e+03,2.837000e+03,1.288000e+03,5.160000e+02,1.720000e+02,3.400000e+01,4.000000e+00
mean,6.830906e+06,1.354976e+07,2.100472e+07,2.830886e+07,3.281190e+07,4.879680e+07,8.385654e+07,1.759000e+08
std,1.139716e+07,1.853406e+07,2.641650e+07,5.403232e+07,4.170025e+07,9.490798e+07,1.846279e+08,2.835248e+08
min,4.000000e+00,1.000000e+03,2.000000e+03,5.000000e+03,3.270540e+05,6.000000e+04,8.184270e+05,4.600000e+06
25%,2.000000e+06,5.000000e+06,8.000000e+06,9.655000e+06,1.013750e+07,1.067500e+07,1.000000e+07,3.790000e+07
50%,4.200000e+06,1.000000e+07,1.500000e+07,1.700000e+07,2.000000e+07,2.273400e+07,2.550000e+07,4.950000e+07
75%,7.687500e+06,1.600000e+07,2.500000e+07,3.200000e+07,3.900000e+07,5.000000e+07,6.225000e+07,1.875000e+08
max,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

After the seed round,  
Series_A - Blueprint  
Series_B - Getting large scaled  
Series_C - Getting international  
Series_D - New opportunity or a down round leading to this round  
Series_E - Want to stay private longer  
Series_F - A venture  
Series_G - Delay in failure  
Series_H - Delay goes on ...

In [73]:
cb[cb.round_H != 0]

,Organization,homepage_url,category_list,Funding($),status,Location,funding_rounds,founded_at,founded_quarter,first_funding_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
11260,deem,http://www.deem.com,"[E-Commerce, Trading, Marketplaces, Content Sy...",516905435,operating,"[USA, CA, SF Bay Area, San Francisco]",11,2000-01-01,2000-Q1,2004-01-01,...,0,0,0,0,25000000,32500000,100000000,40000000,69985435,50000000
15569,flipkart,http://www.flipkart.com,"[Online Shopping, E-Commerce]",2351140000,operating,"[IND, None, Bangalore, Bangalore]",11,2007-09-01,2007-Q3,2009-01-01,...,0,0,1000000,10000000,20000000,150000000,360000000,210000000,1000000000,600000000
18233,gumi,http://gu3.co.jp,[Games],94000000,operating,"[SGP, None, Singapore, Singapore]",3,2007-01-01,2007-Q1,2011-12-05,...,0,0,0,0,0,0,0,26000000,19000000,49000000
24540,locondo-jp,http://locondo.jp,[E-Commerce],10800000,operating,"[JPN, None, JPN - Other, None]",2,2010-10-22,2010-Q4,2013-06-13,...,0,0,0,6200000,0,0,0,0,0,4600000

Let's look if any company has not participated in any of the rounds.

In [74]:
def empty(x):
    flag = 0
    for i in range(8):
        if x[i] != 0:
            flag += 1
    return flag
cb['no_of_rounds'] = cb[cb.columns[-8:]].apply(empty, axis = 1)
cb['no_of_rounds'].value_counts()

0    36680
1     8518
2     2699
3     1010
4      355
5      128
6       42
7        5
8        1
Name: no_of_rounds, dtype: int64

36680 (i.e. 74%) companies have not participated in any rounds.  
Let's check if all other rounds are well placed i.e. if they all start from round_A and also are they continuous.

In [89]:
def spacing(x):
    flag = 0
    for i in range(8):
        if x[i] != 0:
            flag = i
            break
    for j in range(i,i+x[8]):
        if x[j] == 0 :
            return False
    return True
cb[cb.columns[-9:]].apply(spacing, axis = 1).value_counts()

True     49124
False      314
dtype: int64

There are 314 data instances where there're 0s between rounds which make no point.  
Also, there're are a few instances where the funding rounds don't start from round_A.  
All this needs some fixing.

In [118]:
print(cb[cb.columns[-9:-1]].iloc[11260])
cb[cb.columns[-9:-1]].iloc[63]

round_A     25000000
round_B     32500000
round_C    100000000
round_D     40000000
round_E     69985435
round_F     50000000
round_G            0
round_H            0
Name: 11260, dtype: int64

round_A      479014
round_B    83961305
round_C           0
round_D           0
round_E           0
round_F           0
round_G           0
round_H           0
Name: 63, dtype: int64

We're taking two specific data instances to check our operation.

In [109]:
def round_fix(x):
    li = []
    li = [0 for i in range(8)]
    k = 0
    for j in range(8):
        if x[j] != 0:
            li[k] = x[j]
            k += 1
    return pd.Series(li)
cb[cb.columns[-9:-1]] = cb[cb.columns[-9:-1]].apply(round_fix, axis = 1)

In [119]:
print(cb[cb.columns[-9:-1]].iloc[11260])
cb[cb.columns[-9:-1]].iloc[63]

round_A     25000000
round_B     32500000
round_C    100000000
round_D     40000000
round_E     69985435
round_F     50000000
round_G            0
round_H            0
Name: 11260, dtype: int64

round_A      479014
round_B    83961305
round_C           0
round_D           0
round_E           0
round_F           0
round_G           0
round_H           0
Name: 63, dtype: int64