In [1]:
import pandas as pd

In [2]:
cb = pd.read_csv("../Datasets/investments_VC.csv")

Importing pandas and reading our file.

In [3]:
cb.shape

(49438, 39)

Almost 50k instances with 39 attributes for each is hell lot of data.

In [4]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 39 columns):
permalink               49438 non-null object
name                    49437 non-null object
homepage_url            45989 non-null object
category_list           45477 non-null object
 market                 45470 non-null object
 funding_total_usd      49438 non-null object
status                  48124 non-null object
country_code            44165 non-null object
state_code              30161 non-null object
region                  44165 non-null object
city                    43322 non-null object
funding_rounds          49438 non-null int64
founded_at              38554 non-null object
founded_month           38482 non-null object
founded_quarter         38482 non-null object
founded_year            38482 non-null float64
first_funding_at        49438 non-null object
last_funding_at         49438 non-null object
seed                    49438 non-null int64
venture                 49438 non-null int64
equity_crowdfunding     49438 non-null int64
undisclosed             49438 non-null int64
convertible_note        49438 non-null int64
debt_financing          49438 non-null int64
angel                   49438 non-null int64
grant                   49438 non-null int64
private_equity          49438 non-null int64
post_ipo_equity         49438 non-null int64
post_ipo_debt           49438 non-null int64
secondary_market        49438 non-null int64
product_crowdfunding    49438 non-null int64
round_A                 49438 non-null int64
round_B                 49438 non-null int64
round_C                 49438 non-null int64
round_D                 49438 non-null int64
round_E                 49438 non-null int64
round_F                 49438 non-null int64
round_G                 49438 non-null int64
round_H                 49438 non-null int64
dtypes: float64(1), int64(22), object(16)
memory usage: 14.7+ MB

That's just a lot of attributes with their datatypes and number of non-null values too.

In [5]:
cb.describe()

,funding_rounds,founded_year,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,38482.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2007.359129,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,7.579203,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,1902.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,2006.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,2010.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2012.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,2014.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

All the attributes are filled except the founded_year.  
Also, year is supposed to be categorical rather than considered for numerical analysis.  
Let's change that up ...

In [6]:
cb['founded_year'] = cb['founded_year'].astype('category')

Series.astype changes the datatype of all the elements in the series to the specified datatype.

In [7]:
cb.describe()

,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
count,49438.000000,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,...,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04,4.943800e+04
mean,1.696205,2.173215e+05,7.501051e+06,6.163322e+03,1.302213e+05,2.336410e+04,1.888157e+06,6.541898e+04,1.628453e+05,2.074286e+06,...,3.845592e+04,7.074227e+03,1.243955e+06,1.492891e+06,1.205356e+06,7.375261e+05,3.424682e+05,1.697692e+05,5.767067e+04,1.423197e+04
std,1.294213,1.056985e+06,2.847112e+07,1.999048e+05,2.981404e+06,1.432046e+06,1.382046e+08,6.582908e+05,5.612088e+06,3.167231e+07,...,3.864461e+06,4.282166e+05,5.531974e+06,7.472704e+06,7.993592e+06,9.815218e+06,5.406915e+06,6.277905e+06,5.252312e+06,2.716865e+06
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000,2.500000e+04,5.000000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,18.000000,1.300000e+08,2.351000e+09,2.500000e+07,2.924328e+08,3.000000e+08,3.007950e+10,6.359026e+07,7.505000e+08,3.500000e+09,...,6.806116e+08,7.200000e+07,3.190000e+08,5.420000e+08,4.900000e+08,1.200000e+09,4.000000e+08,1.060000e+09,1.000000e+09,6.000000e+08

Looks like most of our attributes just have zeroes because only the max row has a value with min, 25%, 50% and 75% all zeroes.

This dataset needs a linear approach rather than looking at all the values as one.

# Linear approach

## permalink

In [8]:
cb.permalink.sample(10)

18897      /organization/hermes-clinical
39563        /organization/solutionreach
35296     /organization/reflexis-systems
41358            /organization/swagbucks
4160     /organization/azeti-networks-ag
40067            /organization/spiralcat
48457                /organization/yazuo
9758       /organization/contests4causes
5974        /organization/bookacoach-com
15185                /organization/filip
Name: permalink, dtype: object

That's just random strings but starting with /organization/...  
Let's remove that.

In [9]:
def permalink_rename(x):
    return x[14:]
cb.permalink = cb.permalink.apply(permalink_rename)

Removing the organization in every str.

In [10]:
cb.permalink.value_counts().head()

treasure-valley-urology-services    2
prysm                               2
bloomspot-com                       1
jayride-com                         1
craftistas                          1
Name: permalink, dtype: int64

These strings look like names of the services.  
Let's just rename this attribute as organization.

In [11]:
cb = cb.rename(columns = {'permalink':'Organization'})

In [12]:
cb.head()

,Organization,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0,0,0,0,0,0,0,0,0,0
1,tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0,0,0,0,0,0,0,0,0,0
2,rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0,0,0,0,0,0,0,0,0,0
3,in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0,0,0,0,0,0,0,0,0,0
4,r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0,0,0,0,0,0,0,0,0,0

Now that that's done, let's look for null values.

In [13]:
cb.Organization.isna().sum()

0

We seem clear on that line.  
Also, if we observe clearly at the head, the name attribute is far too similar to the current attribute.
## name

In [14]:
def compare(a,b,s):
    org = str(a).lower().split(s)
    li = []
    for i in org:
        if i not in str(b).lower():
            li.append(False)
        else:
            li.append(True)
    return all(li)
def cmp(x):
    if ((compare(x[0],x[1],'-'))or(compare(x[1],x[0],' '))):
        return True
    else:
        return False
cb[['Organization','name']].apply(cmp, axis = 1).value_counts()

True     48069
False     1369
dtype: int64

We have 2.7% of our data fighting against deleting one of the attribute from Organization and name.  
It's quite low but still there's enough diversity between the False returning strings.  
So, let's do both the things i.e. delete name and keep a list of non-similar data points.

In [15]:
def compare(a,b,s):
    org = str(a).lower().split(s)
    li = []
    for i in org:
        if i not in str(b).lower():
            li.append(False)
        else:
            li.append(True)
    return all(li)
def cmp1(x):
    if ((compare(x[0],x[1],'-'))or(compare(x[1],x[0],' '))):
        return x[0]
    else:
        return [x[0],x[1]]
cb['Organization'] = cb[['Organization','name']].apply(cmp1, axis = 1)

Both the attributes are similar to a certain extent as determined previously.  
Which is enough to get rid of one of the attributes but still I'm keeping in a list with the remaining stuff rather than getting rid of a few names.  
We're going to delete the name attribute as it has many special characters compared to the well organized Organization attribute. Also, there's a single null value here too.

In [16]:
del cb['name']
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0

Now that that's done, let's look at our next bait - the url.
## homepage_url

In [17]:
cb.homepage_url.isna().sum()

3449

Even though there's a good amount of null values here, there is no reason to delete this attribute because it's just the url of the homepages of the organizations.  
Let's just fill the null values with None.

In [18]:
cb['homepage_url'] = cb.homepage_url.fillna('None')

In [19]:
cb.homepage_url.value_counts().head(3)

None                        3449
http://www.indiegogo.com       2
http://rang.com                2
Name: homepage_url, dtype: int64

So, now that all the null values are filled with string 'None', Let's move on to the next attribute.

In [20]:
cb.tail()

,Organization,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,...,0,0,16000000,10000000,0,0,0,0,0,0

As we can see, our next attribute category_list is the same as market but with few more items in there.  
Let's check that up.  
## category_list and market

In [21]:
print(cb[['category_list', ' market ']].isna().sum())
def cmp2(x):
    if x.isna().sum() == 2:
        return 'Both are null'
    elif x.isna().sum() == 1:
        return 'Only one is null'
    else:
        if str(x[1]).strip() in str(x[0]):
            return True
        else:
            return False

cb[['category_list', ' market ']].apply(cmp2, axis = 1).value_counts()

category_list    3961
 market          3968
dtype: int64

True                45470
Both are null        3961
Only one is null        7
dtype: int64

There are 3961 null values common to both the attributes leaving which market has extra 7 null values.  
Let's fill the common null values as None and the extra 7 ones already have something in category_list which shall remain as is.  
True means that the str in market is present in category_list which is returned in all cases excluding the null values  means everything in market is present in category_list.

In [22]:
def return_list(x):
    category_list = str(x[0]).strip('|').split('|')
    market = str(x[1]).strip()
    if x.isna().sum() == 1:
        return category_list
    elif x.isna().sum() == 2:
        return None
    else:
        category_list.remove(market)
        category_list.insert(0, market)
        return category_list
cb['category_list'] = cb[['category_list', ' market ']].apply(return_list, axis = 1)

So, let's just make it an actual list but with the leading element as the one in market attribute if its present.  
In the 7 cases where the market element is absent, we're keeping the element as is after stripping and splitting(in case there are more than 1).  
There are 3961 cases where we have both null values which we're filling with None.  
Let's have a final check whether the elements in market are perfectly placed at the start of the category_list.

In [23]:
def cmp2(x):
    if x.isna().sum() == 2:
        return 'Both are null'
    elif x.isna().sum() == 1:
        return 'Only one is null'
    else:
        if str(x[1]).strip() == x[0][0]:
            return True
        else:
            return False

cb[['category_list', ' market ']].apply(cmp2, axis = 1).value_counts()

True                45470
Both are null        3961
Only one is null        7
dtype: int64

Now that that's checked, we're good to delete market attribute.

In [24]:
del cb[' market ']

In [25]:
cb.sample(5)

,Organization,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
6395,brightbytes,http://www.brightbytes.net,"[Big Data, Big Data Analytics, Analytics]","1,84,70,000",operating,USA,CA,SF Bay Area,San Francisco,4,...,0,0,2500000,15000000,0,0,0,0,0,0
33027,pops-worldwide,http://pops.vn,[News],"18,20,509",operating,VNM,NaN,Ho Chi Minh,Ho Chi Minh City,1,...,0,0,1820509,0,0,0,0,0,0,0
17753,granite-horizon,http://granitehorizon.com,"[Cloud Computing, Enterprises, Open Source, We...","1,15,000",operating,USA,CA,Sacramento,Elk Grove,1,...,0,0,0,0,0,0,0,0,0,0
18851,helpsocial,https://helpsocial.com,"[B2B, Business Services, Customer Service, App...",-,operating,USA,TX,San Antonio,San Antonio,1,...,0,0,0,0,0,0,0,0,0,0
33842,protein-bar,http://theproteinbar.com,[Hospitality],"2,20,00,000",operating,USA,IL,Chicago,Chicago,1,...,0,0,0,0,0,0,0,0,0,0

Market's successfully deleted.
## funding_total_usd

In [26]:
def change_int(x):
    if x.strip() == '-':
        return 0
    x = x.replace(',','')
    return int(x)
cb[' funding_total_usd '] = cb[' funding_total_usd '].apply(change_int)

In [27]:
cb[' funding_total_usd '].dtypes

dtype('int64')

Now that we've changed up the attribute to int successfully, let's change its name because its quite sketchy.

In [28]:
cb = cb.rename(columns = {' funding_total_usd ' : 'Funding($)'})

Now that we've renamed that, we can move on to our next attribute.
## status

In [29]:
cb['status'].value_counts()

operating    41829
acquired      3692
closed        2603
Name: status, dtype: int64

This clearly looks like an attribute of the dtype : 'category'.

In [30]:
cb['status'] = cb['status'].astype('category')
cb['status'].dtypes

CategoricalDtype(categories=['acquired', 'closed', 'operating'], ordered=False)

That looks awesome as our categories are listed too.
# Location
The coming up 4 attributes are all related to the location of our organization.  
Let's put them in as one after resolving each of them linearly.
## country_code

In [31]:
cb['country_code'].isna().sum()

5273

That's a pretty good amount of null values there. Still there's no reason to delete the str attribute.  
So, let's just fill it with None.

In [32]:
cb['country_code'] = cb.country_code.fillna(value = 'None')
cb['country_code'].value_counts().head()

USA     28793
None     5273
GBR      2642
CAN      1405
CHN      1239
Name: country_code, dtype: int64

Country code is just an uppercase and probably three lettered word.

In [33]:
cb['country_code'].apply(len).value_counts()

3    44165
4     5273
Name: country_code, dtype: int64

It is three lettered.  
## state_code

In [34]:
cb['state_code'].isna().sum()

19277

That's too much more than the country_code. But as we're going to integrate all 4 attributes to 1, it stays.  
Let's do all that we did to country_code to state_code as well.

In [35]:
cb['state_code'] = cb.state_code.fillna(value = 'None')
cb['state_code'].value_counts().head()

None    19277
CA       9917
NY       2914
MA       1969
TX       1466
Name: state_code, dtype: int64

That's similar too.

In [36]:
cb['state_code'].apply(len).value_counts()

2    30161
4    19277
Name: state_code, dtype: int64

All these are 2 lettered words though.
## region

In [37]:
cb['region'].isna().sum()

5273

That's exactly same as the country_code.  
Which means both the attributes are similar.

In [38]:
cb['region'] = cb.region.fillna(value = 'None')
cb['region'].value_counts().head()

SF Bay Area      6804
None             5273
New York City    2577
Boston           1837
London           1588
Name: region, dtype: int64

Lengths obviously vary, so lets skip the last part here.  
Again we just find a proper str.
## city

In [39]:
cb['city'].isna().sum()

6116

There's no similarity with anything else here.

In [40]:
cb['city'] = cb.city.fillna(value = 'None')
cb['city'].value_counts().head()

None             6116
San Francisco    2615
New York         2334
London           1257
Palo Alto         597
Name: city, dtype: int64

Again lengths vary, so we skip the last part and move on to integrate the 4 attributes.
## Location

In [41]:
def location(x):
    return x.tolist()
Location = cb[['country_code','state_code','region','city']].apply(location, axis = 1)

In [42]:
cb.insert(5,'Location',Location)
cb['Location'].sample(4)

30469            [USA, CO, Denver, Denver]
21770             [None, None, None, None]
42548             [None, None, None, None]
16719    [GBR, None, Coleraine, Coleraine]
Name: Location, dtype: object

Now that we've got our new attribute, we can get rid of the four parent attributes.

In [43]:
cb = cb.drop(['country_code','state_code','region','city'], axis = 1)

In [44]:
cb.tail()

,Organization,homepage_url,category_list,Funding($),status,Location,funding_rounds,founded_at,founded_month,founded_quarter,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
49433,zzish,http://www.zzish.com,"[Education, Analytics, Gamification, Developer...",320000,operating,"[GBR, None, London, London]",1,28-01-2013,2013-01,2013-Q1,...,0,0,0,0,0,0,0,0,0,0
49434,zznode-science-and-technology-co-ltd,http://www.zznode.com,[Enterprise Software],1587301,operating,"[CHN, None, Beijing, Beijing]",1,NaN,NaN,NaN,...,0,0,1587301,0,0,0,0,0,0,0
49435,"[zzzzapp-com, Zzzzapp Wireless ltd.]",http://www.zzzzapp.com,"[Web Development, Advertising, Wireless, Mobile]",97398,operating,"[HRV, None, Split, Split]",5,13-05-2012,2012-05,2012-Q2,...,0,0,0,0,0,0,0,0,0,0
49436,a-list-games,http://www.alistgames.com,[Games],9300000,operating,"[None, None, None, None]",1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
49437,x,http://www.xplusone.com/,[Enterprise Software],45000000,operating,"[USA, NY, New York City, New York]",4,01-01-1999,1999-01,1999-Q1,...,0,0,16000000,10000000,0,0,0,0,0,0

## funding_rounds
Google says that Startup funding rounds are a series of investments that raise capital for a new business. As a startup expands and becomes successful, each funding round serves as a stepping stone toward greater growth.  
Which makes sense to convert the attribute to categorical again.  
Let's have a check whether its credible enough.

In [47]:
cb['funding_rounds'].value_counts(dropna = False)

1     32039
2      9219
3      4026
4      1997
5      1001
6       560
7       252
8       152
9        84
10       43
11       35
12       12
13        8
14        4
15        4
16        1
18        1
Name: funding_rounds, dtype: int64

Looks like we don't have null values which makes sense because if it did then it wouldn't make sense to have that data point at the first place.  
Also, we have 17 categories which is credible enough to convert this attribute to categorical datatype.

In [50]:
cb['funding_rounds'] = cb['funding_rounds'].astype('category')
cb['funding_rounds'].dtypes

CategoricalDtype(categories=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18], ordered=False)

Looks good.
## founded

In [54]:
cb[cb.columns[6:]].head()

,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,1,01-06-2012,2012-06,2012-Q2,2012.0,30-06-2012,30-06-2012,1750000,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,NaN,NaN,NaN,NaN,04-06-2010,23-09-2010,0,4000000,0,...,0,0,0,0,0,0,0,0,0,0
2,1,26-10-2012,2012-10,2012-Q4,2012.0,09-08-2012,09-08-2012,40000,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,01-04-2011,2011-04,2011-Q2,2011.0,01-04-2011,01-04-2011,1500000,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,01-01-2014,2014-01,2014-Q1,2014.0,17-08-2014,26-09-2014,0,0,60000,...,0,0,0,0,0,0,0,0,0,0

All three founded attributes look like they're derived from founded_at.

In [65]:
cb[cb.columns[7:11]].isna().sum()

founded_at         10884
founded_month      10956
founded_quarter    10956
founded_year       10956
dtype: int64

Null values also support the cause of removing the extra three founded attributes.  
Let's keep founded_quarter because it could help in certain aspects during analysis.

In [66]:
cb = cb.drop(['founded_month', 'founded_year'], axis = 1)

Now that we've removed the unwanted attributes, let's fine tune the remaining founded attributes.
## founded_at

In [96]:
from datetime import datetime

In [124]:
def date_check(y):
    li = y.split('-')
    if len(li[0]) == 4:
        Y = li[0]
        li[0] = li[2]
        li[2] = Y
    return li[0] +'-'+ li[1] +'-'+ li[2]
def change_date(x):
    if str(x).lower() == 'nan':
        return None
    else:
        x = date_check(x)
        return datetime.strptime(x,'%d-%m-%Y').date()
cb['founded_at'] = cb['founded_at'].apply(change_date)

In [127]:
type(cb['founded_at'][0])

datetime.date

Now that we've got that converted, let's look for anything in founded_quarter.
## founded_quarter

In [128]:
cb['founded_quarter'].sample(4)

12758    2005-Q2
44562    2013-Q1
16804    2000-Q1
21338    2009-Q1
Name: founded_quarter, dtype: object

All these values are just the year followed by quarter.  
quarter is just the 12 months divided into 4 quarters.  
It can stay as is.
## first and last funding

In [129]:
cb['first_funding_at'] = cb['first_funding_at'].apply(change_date)
cb['last_funding_at'] = cb['last_funding_at'].apply(change_date)

We're applying the same function written for founded_at for first and last funding as both are dates.  
And also we're not compressing these as they're needed in detail for analysis.